grafana:
  adminPassword: "prom-admin"
  service:
    type: LoadBalancer
    port: 80
    targetPort: 3000
  persistence:
    enabled: true
    storageClassName: gp2
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 200m
      memory: 200Mi

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    resources:
      requests:
        cpu: 200m
        memory: 500Mi
      limits:
        cpu: 500m
        memory: 1Gi

kube-state-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi

prometheus-node-exporter:
  resources:
    requests:
      cpu: 50m
      memory: 50Mi

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
