name: Deploy Infrastructure and Application

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: eu-central-1

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.13.3

            - name: Setup Helm
              uses: azure/setup-helm@v4

            - name: Setup Kubectl
              uses: azure/setup-kubectl@v4

            - name: Terraform Init
              run: terraform init
              working-directory: ./terraform

            - name: Terraform Apply
              run: terraform apply -auto-approve
              working-directory: ./terraform

            - name: Update Kubeconfig
              run: aws eks --region eu-central-1 update-kubeconfig --name main-cluster

            - name: Get RDS Endpoint
              id: get_rds
              run: |
                  RDS_HOST=$(terraform -chdir=./terraform output -raw rds_endpoint | cut -d: -f1)
                  echo "RDS_HOST=$RDS_HOST" >> $GITHUB_ENV
              working-directory: ./terraform

            - name: Deploy Helm Chart
              run: |
                  helm upgrade --install my-blog ./helm/wordpress-blog \
                    --set wordpress.externalDatabase.host=${{ env.RDS_HOST }} \
                    --set wordpress.externalDatabase.password="YourSuperSecurePassword123!"
